/*
 * Globals
 */
.nostyled {
  list-style: none;
  padding: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear_zero {
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.decoration {
  position: absolute;
  display: block;
  overflow: hidden;
}
/* =============================================================================

	6) LESS

   ========================================================================== */
@font-face {
  font-family: Heavy Italic;
  src: url(../font/UniSansHeavyItalic.otf);
}
@font-face {
  font-family: Heavy;
  src: url(../font/UniSansHeavy.otf);
}
@font-face {
  font-family: Thin;
  src: url(../font/UniSansThin.otf);
}
/***** LAYOUT *****/
body {
  font-family: 'Helvetica Neue', sans-serif;
  background: #fff;
  position: relative;
  text-align: center;
  padding-top: 30px;
}
html {
  color: #000000;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
div.clear {
  clear: both;
}
a,
a:hover {
  color: #0099cc;
}
a:hover {
  text-decoration: none;
}
.hide {
  display: none;
}
h1,
h2,
h3,
h4 {
  font-family: 'Heavy', sans-serif;
  font-weight: normal;
}
/***** HEADER *****/
div.wrapper {
  width: 1100px;
  margin: 40px auto 0 auto;
}
div.navigation {
  opacity: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  height: 50px;
  z-index: 100;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
div.navigation nav#page-nav {
  width: 990px;
  margin: 8px auto 0 auto;
  overflow: auto;
  text-align: right;
}
div.navigation nav#page-nav label,
div.navigation nav#page-nav #hamburger {
  display: none;
  color: #000;
}
div.navigation nav#page-nav a.home {
  float: left;
  margin-top: -8px;
  display: inline-block;
  padding: 10px 5px;
  margin-right: 10px;
  font-size: 28px;
  color: #000;
  text-decoration: none;
  font-family: 'Heavy Italic';
}
div.navigation nav#page-nav a.home span {
  color: #FD9326;
}
div.navigation nav#page-nav a.home:hover span {
  color: #000;
}
div.navigation nav#page-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
div.navigation nav#page-nav ul li {
  display: inline-block;
  padding: 10px 5px;
  margin-right: 10px;
  font-family: 'Heavy Italic';
}
div.navigation nav#page-nav ul li a {
  text-decoration: none;
  color: #000;
}
div.navigation nav#page-nav ul li a:hover {
  color: #FD9326;
}
header strong {
  color: #FD9326;
  font-size: 38px;
  text-decoration: line-through;
  display: block;
}
header h1 {
  font-size: 64px;
  font-family: 'Heavy Italic';
  margin: 0;
  padding: 0;
  line-height: 1.4;
  height: 75px;
}
header h1 span {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
header small {
  font-weight: normal;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  display: block;
}
@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }
  60%,
  90% {
    width: 9.3em;
  }
}
@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 7.8em;
  }
}
@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2020-4-2 21:13:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
.text_1 {
  animation: text1;
}
.text_2 {
  animation: text2;
}
.text_1,
.text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}
.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}
div.story,
div.kudos {
  width: 920px;
  margin: 80px auto 20px auto;
  -webkit-animation: fadeInFromNone 1.5s ease-out;
  -moz-animation: fadeInFromNone 1.5s ease-out;
  -o-animation: fadeInFromNone 1.5s ease-out;
  animation: fadeInFromNone 1.5s ease-out;
}
div.story p,
div.kudos p {
  padding: 15px;
  width: 310px;
  margin-top: -40px;
  margin-bottom: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: relative;
  text-align: left;
  line-height: 1.4;
  opacity: 1;
  transition: opacity 1s;
  z-index: 2;
}
div.story p img,
div.kudos p img {
  width: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
div.story p span.arrow,
div.kudos p span.arrow {
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  z-index: -1;
}
div.story p.adam_second,
div.kudos p.adam_second {
  margin-top: 10px;
}
div.story p.erika_second,
div.kudos p.erika_second {
  margin-top: -40px;
}
div.story p.erika,
div.kudos p.erika {
  background: #E9E9E9;
  float: left;
  clear: both;
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
div.story p.erika img,
div.kudos p.erika img {
  position: absolute;
  bottom: 0px;
  left: -65px;
}
div.story p.erika span.arrow,
div.kudos p.erika span.arrow {
  background: #E9E9E9;
  bottom: 12px;
  left: -7px;
  transform: rotate(45deg);
}
div.story p.adam,
div.kudos p.adam {
  background: #FDA347;
  float: right;
  clear: both;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
div.story p.adam img,
div.kudos p.adam img {
  position: absolute;
  bottom: 0px;
  right: -65px;
}
div.story p.adam span.arrow,
div.kudos p.adam span.arrow {
  background: #FDA347;
  bottom: 12px;
  right: -7px;
  transform: rotate(45deg);
}
div.kudos {
  padding-top: 80px;
  margin-top: 0;
  margin-bottom: 40px;
  overflow: auto;
}
div.kudos h2 {
  margin-bottom: 20px;
  font-size: 38px;
}
div.kudos h2.aha {
  margin-top: 40px;
}
div.kudos p {
  width: 450px;
  font-style: italic;
  margin-top: 0;
}
div.kudos p strong {
  font-style: normal;
  display: block;
  margin-top: 10px;
}
div.kudos p a {
  color: #000;
}
div.kudos p.adam {
  background: #E9E9E9;
}
div.kudos p.adam span.arrow {
  background: #E9E9E9;
}
div.kudos div.sketchnote {
  margin: 40px 0 60px 0;
  overflow: auto;
}
div.kudos div.sketchnote img {
  width: 100%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  display: block;
}
div.kudos div.sketchnote i {
  float: right;
  font-size: 13px;
  margin: 10px 40px 0 0;
}
div.kudos div.sketchnote i a {
  color: #000;
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
div.content {
  width: 900px;
  margin: 20px auto 40px auto;
}
div.content div.highlight {
  background: #231F1F;
  padding: 0px;
  margin-bottom: 0px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
div.content div.highlight div.img {
  width: 100%;
  height: 350px;
  background: url(../img/highlight.jpg) 0 0 no-repeat;
  background-size: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
div.content div.highlight div.img h2 {
  float: left;
  width: 280px;
  clear: both;
  text-align: left;
  font-size: 26px;
  padding: 30px 0 0 30px;
  color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.4;
}
div.content div.highlight p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
div.content div.offerings_wrapper {
  overflow: auto;
  width: 900px;
  padding: 80px 0 10px 0;
  /* [NAVIGATION] */
  /* [CONTENTS] */
}
div.content div.offerings_wrapper h2 {
  font-size: 38px;
  margin: 0 0 20px 0;
}
div.content div.offerings_wrapper h2 span {
  font-size: 16px;
}
div.content div.offerings_wrapper p.perex {
  margin: 0 auto 60px auto;
  width: 550px;
  line-height: 1.4;
}
div.content div.offerings_wrapper #tab-nav span.tabnav {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
div.content div.offerings_wrapper #tab-nav span.active {
  background: #FCF19F;
  color: #333;
}
div.content div.offerings_wrapper #tab-contents {
  padding: 15px;
}
div.content div.offerings_wrapper #tab-contents div.tabtxt {
  display: none;
}
div.content div.offerings_wrapper #tab-contents div.active {
  display: block;
}
div.content div.offerings_wrapper nav.bookmarks {
  overflow: auto;
  margin: 50px 0 0 0;
  display: block;
  text-align: center;
}
div.content div.offerings_wrapper nav.bookmarks span {
  list-style: none;
  margin: 0 10px 0 0;
  width: 150px;
  display: inline-block;
  padding: 15px 20px 5px 20px;
  background: #E9E9E9;
  color: #333;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  font-family: 'Heavy Italic', sans-serif;
  text-decoration: none;
  cursor: pointer;
}
div.content div.offerings_wrapper nav.bookmarks span.active {
  background: #FCF19F;
}
div.content div.offerings_wrapper nav.bookmarks span:hover {
  background: #EFEFEF;
}
div.content div.offerings_wrapper div.offerings_content {
  background: #FCF19F;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  overflow: auto;
  padding: 20px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333;
  font-size: 16px;
  margin-bottom: 0px;
}
div.content div.offerings_wrapper div.offerings_content div.offer {
  text-align: left;
  padding: 20px 40px 0 40px;
}
div.content div.offerings_wrapper div.offerings_content div.offer p.term {
  font-weight: bold;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.8);
  padding: 8px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}
div.content div.offerings_wrapper div.offerings_content div.offer p.term span {
  display: inline-block;
  margin-right: 25px;
}
div.content div.offerings_wrapper div.offerings_content div.offer p.term span:last-child {
  margin-right: 0;
}
div.content div.offerings_wrapper div.offerings_content div.offer p,
div.content div.offerings_wrapper div.offerings_content div.offer ul {
  margin-bottom: 30px;
  line-height: 1.4;
}
div.content div.offerings_wrapper div.offerings_content div.offer h4 {
  margin: 0px 0 10px 0;
}
div.content div.offerings_wrapper div.offerings_content div.offer ul {
  margin-left: 25px;
}
div.content div.offerings_wrapper div.offerings_content div.offer ul li {
  margin-bottom: 10px;
}
div.content div.offerings_wrapper div.offerings_content div.offer div.button_wrapper {
  text-align: center;
}
div.content div.offerings_wrapper div.offerings_content div.offer div.button_wrapper a.button {
  background: #231F1F;
  padding: 15px 25px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Heavy Italic';
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 0px #ccc;
  -moz-box-shadow: 0px 3px 0px #ccc;
  -webkit-box-shadow: 0px 3px 0px #ccc;
  -webkit-appearance: none;
  text-decoration: none;
  margin: 20px 0 40px 0;
  display: inline-block;
}
div.content div.offerings_wrapper div.offerings_content div.offer div.button_wrapper a.button:hover {
  background: #333;
}
div.content div.modules {
  width: 100%;
  margin: 0 auto;
  color: #333;
}
div.content div.modules h3.headline {
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  height: 47px;
  text-align: left;
  padding: 3px 0 0 70px;
  line-height: 50px;
  background-color: #FEFCED;
  transition: background-color 0.5s ease-out;
  outline-width: 0;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Heavy Italic', sans-serif;
}
div.content div.modules h3.headline span.number {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: #FD9326;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.7;
  color: #fff;
  text-align: center;
  display: inline-block;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.content div.modules h3.headline:hover {
  background-color: #fff;
}
div.content div.modules h3.ui-accordion-header-active {
  margin-bottom: 0;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
div.content div.modules h3.ui-accordion-header-active span.number {
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
}
div.content div.modules div.module-content {
  background: #FEFCED;
  padding: 20px 40px 10px 70px;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}
div.content div.modules div.module-content h4 {
  margin: 0px 0 10px 0;
}
div.content div.modules div.module-content p,
div.content div.modules div.module-content ul {
  margin-bottom: 30px;
  line-height: 1.4;
}
div.content div.modules div.module-content ul {
  margin-left: 25px;
}
div.content div.modules div.module-content ul li {
  margin-bottom: 10px;
}
div.content img.workspace {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 100%;
}
div.content div.contact {
  padding: 80px 0 40px 0;
}
div.content div.contact h2 {
  font-size: 45px;
  font-family: 'Heavy';
}
div.content div.contact h2 small {
  display: block;
  font-weight: normal;
  font-size: 60px;
  font-family: 'Thin';
}
div.content div.contact a {
  color: #000;
  text-decoration: none;
}
div.content div.contact a:hover {
  border-bottom: 1px solid #ccc;
}
div.content div.contact form {
  width: 500px;
  margin: 40px auto 0 auto;
  background: #E9E9E9;
  padding: 40px 40px 20px 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div.content div.contact form div.field {
  text-align: left;
  margin-bottom: 20px;
  clear: both;
}
div.content div.contact form div.field label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
div.content div.contact form div.field input.text {
  height: 38px;
  width: 478px;
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 0 10px;
}
div.content div.contact form div.field textarea {
  width: 478px;
  height: 110px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 5px 10px;
}
div.content div.contact form div.field_submit {
  text-align: center;
}
div.content div.contact form div.field_submit input.submit {
  background: #231F1F;
  padding: 15px 25px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Heavy Italic';
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 0px #ccc;
  -moz-box-shadow: 0px 3px 0px #ccc;
  -webkit-box-shadow: 0px 3px 0px #ccc;
  -webkit-appearance: none;
}
div.content div.contact form div.field_submit input.submit:hover {
  background: #333;
}
footer {
  background: #231F1F;
  padding-top: 200px;
  color: #E9E9E9;
  text-align: center;
}
footer div.wrapper {
  width: 1100px;
  margin: 0 auto;
}
footer div.lector {
  width: 470px;
  float: left;
  margin: 0 20px 40px 20px;
  padding: 0 20px;
}
footer div.lector img.face {
  width: 250px;
  height: 250px;
  -webkit-border-radius: 250px;
  -moz-border-radius: 250px;
  border-radius: 250px;
  margin-top: -125px;
  margin-bottom: 20px;
}
footer div.lector h2 {
  color: #FD9326;
  margin-bottom: 5px;
}
footer div.lector a {
  color: #fff;
}
footer div.lector div.clients {
  border-top: 1px solid #322C2C;
  margin: 15px 0 20px 0;
  padding: 20px 40px 10px 40px;
  text-align: left;
}
footer div.lector div.clients h3 {
  margin-bottom: 10px;
}
footer div.lector div.clients ul {
  margin-left: 20px;
}
footer div.lector div.clients ul li {
  margin-bottom: 10px;
  line-height: 1.4;
}
footer div.lector div.clients ul li strong {
  display: block;
}
footer div.lector div.stats {
  background: #322C2C;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 20px auto 30px auto;
  position: relative;
  width: 80%;
}
footer div.lector div.stats p {
  margin: 20px 0 10px 0;
  font-size: 18px;
  color: #fff;
}
footer div.lector div.stats p strong {
  font-size: 28px;
  display: block;
  font-family: "Heavy Italic", sans-serif;
}
footer div.lector div.stats span.arrow {
  width: 20px;
  height: 20px;
  display: block;
  transform: rotate(45deg);
  position: absolute;
  bottom: -10px;
  left: 20%;
  background: #322C2C;
}
footer div.lector div.stats_adam span.arrow {
  left: auto;
  right: 20%;
}
footer div.lector p.contacts {
  font-family: "Heavy Italic", sans-serif;
  color: #FD9326;
  line-height: 1.5;
  font-size: 24px;
  text-align: center;
}
footer div.lector p.contacts a {
  color: #FD9326;
  text-decoration: none;
}
footer div.lector p.contacts a:hover {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  body div.wrapper {
    width: 100%;
  }
  body div.story {
    width: 50%;
    margin-top: 20px;
  }
  body div.story p {
    clear: both !important;
    margin: 10px 0 0 0 !important;
    width: 80%;
    padding: 12px 3%;
  }
  body div.story p.adam {
    margin-right: -15% !important;
  }
  body div.story p.erika {
    margin-left: -15% !important;
  }
  body div.content {
    width: 94%;
    padding: 0 3%;
  }
  body div.content div.highlight {
    width: 100%;
    padding: 0;
  }
  body div.content div.highlight div.img {
    width: 100%;
    height: 350px;
    background: url(../img/highlight.jpg) 0 0 no-repeat;
    background-size: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  body div.content div.highlight div.img h2 {
    float: left;
    width: 280px;
    clear: both;
    text-align: left;
    font-size: 26px;
    padding: 30px 0 0 30px;
    color: #FD9326;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    line-height: 1.4;
  }
  body div.content div.offerings_wrapper {
    width: 100%;
  }
  body div.content div.kudos {
    width: 100%;
  }
  body div.content div.kudos p {
    width: 80%;
    padding: 15px 2%;
    float: none;
  }
  body div.content div.kudos p.adam {
    float: right;
  }
  body div.content div.kudos div.sketchnote img {
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  body footer div.lector {
    width: 42%;
    margin: 0 2%;
    padding: 0 10px;
  }
  body footer div.lector div.clients {
    padding: 20px 0px 10px 0px;
  }
  body footer div.lector img.face {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 900px) {
  body div.wrapper div.navigation {
    height: 46px;
    opacity: 1;
    /* Show Hamburger */
    /* Break down menu items into vertical */
    /* Toggle show/hide menu on checkbox click */
  }
  body div.wrapper div.navigation #page-nav {
    width: 100%;
    margin-top: 0;
  }
  body div.wrapper div.navigation #page-nav label {
    display: inline-block;
    color: #333;
    background: #fff;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }
  body div.wrapper div.navigation #page-nav a.home {
    width: 80%;
    margin: 0px 0 0 2%;
    text-align: left;
  }
  body div.wrapper div.navigation #page-nav ul {
    width: 100%;
    padding-top: 5px;
    background: #fff;
  }
  body div.wrapper div.navigation #page-nav ul li {
    display: block;
    border-bottom: 1px solid #E9E9E9;
    background: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: left;
  }
  body div.wrapper div.navigation #page-nav ul li a {
    color: #000;
    display: block;
    padding: 12px 0 8px 20px;
  }
  body div.wrapper div.navigation #page-nav ul li a:hover {
    background: #E9E9E9;
  }
  body div.wrapper div.navigation #page-nav ul.navbar-collapse {
    display: none;
  }
  body div.wrapper div.navigation #page-nav ul li.home {
    margin-top: 0;
    float: none;
  }
  body div.wrapper div.navigation #page-nav ul li.home a {
    font-size: 16px;
  }
  body div.wrapper div.navigation #page-nav ul {
    display: none;
  }
  body div.wrapper div.navigation #page-nav input:checked ~ ul {
    display: block;
  }
  body div.content div.highlight {
    width: 96%;
    padding: 20px 2%;
  }
  body div.content div.highlight div.img {
    height: auto;
    background: none;
    border-radius: 5px;
    margin-bottom: 0px;
  }
  body div.content div.highlight div.img h2 {
    float: none;
    width: auto;
    clear: none;
    text-align: center;
    font-size: 26px;
    padding: 0;
    color: #FD9326;
    font-family: 'Helvetica', sans-serif;
    margin-bottom: 0px;
    font-weight: bold;
    line-height: 1.4;
  }
  body div.content div.highlight div.img h2 br {
    display: none;
  }
  body div.content div.highlight p {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  body div.wrapper {
    width: 100%;
  }
  body div.story {
    width: 70%;
  }
  body div.content {
    width: 94%;
    padding: 0 3%;
  }
  body div.content div.highlight div.img h2 {
    font-size: 18px;
  }
  body div.content div.highlight p {
    font-size: 16px;
  }
  body div.content div.offerings_wrapper nav.bookmarks span {
    padding: 15px 10px 5px 10px;
    width: 140px;
    margin-right: 0;
  }
  body div.content div.offerings_wrapper h2 br {
    display: none;
  }
  body div.content div.offerings_wrapper p.perex {
    width: 90%;
  }
  body div.content div.offerings_wrapper div.offerings_content div.offer {
    padding: 10px 10px 0 10px;
  }
  body div.content div.contact h2 {
    font-size: 32px;
  }
  body div.content div.contact h2 small {
    font-size: 42px;
  }
  body div.content div.contact form {
    width: 80%;
    padding: 20px 10%;
  }
  body div.content div.contact form input,
  body div.content div.contact form textarea {
    width: 94% !important;
    padding: 0 3%;
  }
}
@media (max-width: 650px) {
  body header strong {
    font-size: 26px;
  }
  body header h1 {
    font-size: 38px;
  }
  body header small {
    font-size: 18px;
  }
  body div.story {
    margin-top: 25px;
  }
  body div.content div.highlight {
    width: 80%;
    padding: 20px 10%;
  }
  body div.content div.offerings_wrapper {
    padding-top: 50px;
  }
  body div.content div.offerings_wrapper h2 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  body div.content div.offerings_wrapper p.perex {
    margin-bottom: 20px;
  }
  body div.content div.offerings_wrapper nav.bookmarks {
    text-align: left;
    margin-top: 30px;
  }
  body div.content div.offerings_wrapper nav.bookmarks span {
    padding: 15px 2px 5px 2px;
    width: 120px;
    margin-right: 0;
    font-size: 13px;
    text-align: center;
  }
  body div.content div.offerings_wrapper nav.bookmarks span.edu {
    width: 90px;
  }
  body div.content div.offerings_wrapper nav.bookmarks span.meetings {
    width: 90px;
  }
  body div.content div.kudos {
    width: 100%;
  }
  body div.content div.kudos h2 {
    font-size: 34px;
  }
  body div.content div.kudos p {
    width: 65%;
    padding: 7px 3%;
    font-size: 14px;
  }
  body div.content div.kudos p img {
    width: 35px;
  }
  body div.content div.kudos p.erika img {
    left: -50px;
  }
  body div.content div.kudos p.adam img {
    right: -50px;
  }
  body div.content div.kudos p.adam span.arrow,
  body div.content div.kudos p.erika span.arrow {
    bottom: 10px;
    width: 10px;
    height: 10px;
  }
  body div.content div.kudos p.adam span.arrow {
    right: -5px;
  }
  body div.content div.kudos p.erika span.arrow {
    left: -5px;
  }
  body div.content div.kudos p.adam {
    margin-right: -8%;
  }
  body div.content div.kudos p.erika {
    margin-left: -8%;
  }
  body div.content div.kudos div.sketchnote {
    display: none;
  }
  body footer div.lector {
    width: 82%;
    padding: 0 3%;
    margin: -100px 0 100px 0;
  }
  body footer div.lector img.face {
    width: 50%;
    height: 50%;
    margin-top: 0;
  }
  body footer div.lector div.clients {
    margin: 20px 0 20px 0 !important;
    padding: 20px 10% 10px 10%;
    width: 80%;
  }
}
@media (max-width: 480px) {
  body div.story p {
    padding: 7px 3%;
    font-size: 14px;
  }
  body div.story p img {
    width: 35px;
  }
  body div.story p.erika img {
    left: -50px;
  }
  body div.story p.adam img {
    right: -50px;
  }
  body div.story p.adam span.arrow,
  body div.story p.erika span.arrow {
    bottom: 10px;
    width: 10px;
    height: 10px;
  }
  body div.story p.adam span.arrow {
    right: -5px;
  }
  body div.story p.erika span.arrow {
    left: -5px;
  }
  body div.content div.modules div.module-content {
    padding: 20px 20px 10px 20px;
  }
  body div.content div.contact h2 {
    font-size: 22px;
  }
  body div.content div.contact h2 small {
    font-size: 24px;
  }
  body footer {
    margin-top: 100px;
  }
  body footer div.lector {
    width: 94%;
    padding: 0 3%;
    margin-top: 50px;
  }
  body footer div.lector img.face {
    width: 60%;
    height: 60%;
    margin-top: -100px;
  }
}
@media (max-width: 400px) {
  div.content div.modules h3.headline {
    overflow: hidden;
  }
}
@media (max-width: 360px) {
  body div.wrapper header strong {
    font-size: 20px;
  }
  body div.wrapper header h1 {
    font-size: 26px;
    height: 35px;
    line-height: 1;
  }
  body div.wrapper header h1 img {
    display: none;
  }
  body div.wrapper header small {
    font-size: 14px;
  }
}
@media (max-width: 330px) {
  body div.wrapper div.offerings_wrapper nav.bookmarks {
    text-align: left;
  }
  body div.wrapper div.offerings_wrapper nav.bookmarks span {
    padding: 15px 2px 5px 2px;
    width: 105px;
    margin-right: 0;
    font-size: 12px;
    text-align: center;
  }
  body div.wrapper div.offerings_wrapper nav.bookmarks span.edu {
    width: 85px;
  }
  body div.wrapper div.offerings_wrapper nav.bookmarks span.meetings {
    width: 85px;
  }
}
